
/* page-body-wrapper
========================= */
.page-body-wrapper{
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
    .main-panel{
        background: url(../images/bg.png);
        background-color: #F6F7F9;
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
        width: calc(100% - 335px);
        transition: all 0.1s ease-in-out;
        padding: 0 98px ; 
        @media  (max-width:1400px) {
            padding: 0 40px;
            width: calc(100% - 250px);
        }
       
        @media (max-width:767px) {
            padding: 0 10px
        }
        &.main-panel-v2{
            width: 100%;
        }
    }
}   
.inner_panal{
     min-height: 500px;
     max-height: calc(100vh - 150px);
     overflow-y: scroll;
    overflow-x: hidden
}

/* side-nav
=========================== */
.side-nav{
    width: 335px;
    min-height: 100vh;
    min-height: 500px;
    @include transition(0.3s);
    @media  (max-width:1400px) {
        width: 250px;
    }
    background:$white ;
    padding: 0;
    z-index: 999;
    transition: all 0.1s ease-in-out;
    position: relative;
    .control-side{
        color: $darkGray;
        position: absolute;
        left: 20px;
        top: 10px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        span{
            display: inline-block;
            background: $black;
            border-radius: 5px;
            &:first-child{
                position: absolute;
                top: 8px;
                left: 12px;
                height: 18px;
                width: 3px;
                transition: all 0.3s ease-in-out
            }
            &:last-child{
                width: 18px;
                height: 3px;
                position: absolute;
                left: 4px;
                top: 15px;
            }
        }
        &.active{
            span{
                &:first-child{
                    transform: translateY(-20px);
                    opacity: 0
                }
            }
        }
    }
    .logo-brand{
        margin-bottom: 60px;
        margin-top: 24px;
        img{
            &:last-child{
                display: none !important
            }
        }
    }
    .user-info{
        text-align: center;
        color: #FFF !important;
        font-weight: 500;
        margin-top: 90px;
        margin-bottom: 100px;
        position: relative;
        cursor: pointer;
        a{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            
            width: 100%;
            height: 100%;
        }
        img {
            width: 90%;
            max-width: 138px;
            margin: auto
        }
        p{
            margin-top: 22px;
            margin-bottom: 13px;
            font-weight: 600;
            font-size: 18px;
            color: $black
        }
        span{
            font-size: 12px;
            display: block;
            color: $darkGray
        }
    }
    .nav-list {
        color: #FFF;
        margin-bottom: 5px;
        .has-submenu {
            .submenu{
                background-color: rgba(0,0,0,0.1);
                text-align: center;
                li{
                    a{
                        &:hover{
                            &:after{
                                width: 0% !important
                            }
                        }
                        &.active{
                            &:after{
                                width: 0% !important 
                            }
                        }
                    }
                }
            }
        }
        img {
            max-width: 100px;
        }
        & > li {
            &:last-child{
                a{
                    margin-bottom: 0
                }
            }
           & > a{
                position: relative ;
                cursor: pointer;
                font-size: 22px;
                font-weight: 600;
                i{
                    margin-left: 10px;
                    font-size: 18px;
                    width: 31px;
                    display: none;
                    text-align: center;
                }
                img{
                    display: none;
                }
            }
        }
        a {
            color: $darkGray;
            display: block;
            text-align: center;
            width: 70%;
            margin: 0 auto 32px;
            padding: 11px 10px;
            z-index: 2;
            border-radius: 9px;
            &.active{
                background-color: $blue;
                color: #FFF;
                img{
                    filter: brightness(5);
                }
            }
        }
    }
}

/* side-bar-icon
======================*/
.side-bar-icon{
    .page-body-wrapper  {
        .main-panel{
            width: calc(100% - 111px);
            @media(max-width:767px){
                padding: 20px 10px;
            }
            &.main-panel-v2{
                width: 100%;
            }
        }
    }
    .side-nav {
        width: 111px;  
        .brand{
            display: none
        }
        
        .user-info{
            p{
                font-size: 13px
            }
            span{
                font-size: 8px
            }
        }
        .user-info{
            img{
                width: 70%;
                transition: all 0.3s ease-in-out
            }
        }
        .nav-list {
            a{
                font-size: 0;
            }
            img{
                display: block;
                margin: auto
            }
        }
        .logo-brand{
            margin-bottom: 60px;
            img{
                &:first-child{
                    display: none !important;
                }
                &:last-child{
                    display: block !important
                }
            }
        }
        .control-side {
            left: calc(50% - 14px)
        }
        
    }
}





