/*card-live
===================*/ 
.card-live{
    height: 375px;
    max-width: 425px;
    // min-width: 400px;
    margin: 0 0 45px;
    
   
    width: 100%;
    overflow: hidden;
    background: $white;
    border-radius: 15px;
    border:0.5px solid $darkGray;
    @media (max-width:991px){
        margin: 0 auto 45px;
    }
    @media (max-width:767px){
        // min-width: 300px;
    }
    
    .video{
        height: 73%;
        video{
            width: 100%;
            height: 100%;
        }
    }
    .video-control{
        padding: 30px;
        .info{
            p{
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 2px;
                color: $black
            }
            small{
                font-size: 11px;
                color: $darkGray
            }
        }
        .controls{
            img{
                width: 18px;
                height: 18px;
                cursor: pointer;
            }
            .paly{
                &.active{
                    img{
                        &:last-child{
                            display: block;
                        }
                        &:first-child{
                            display: none;
                        }
                    }
                }
                img{
                    
                    margin-bottom: 15px;
                    &:last-child{
                        display: none;
                    }
                }
            }
            .mute{
                &.active{
                    img{
                        &:last-child{
                            display: block;
                        }
                        &:first-child{
                            display: none;
                        }
                    }
                }
                img{
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }
    
    &.card-live-v2{
        max-width: 300px;
        min-width: 300px;
        .info{
            position: relative;
            &:after{
                content: "";
                background-image: url(../images/icon/repeat.svg);
                background-repeat: no-repeat;
                position: absolute;
                width: 32px;
                height: 32px;
                top: 13px;
                right: -18px;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: -5px;
            }
            small{
                font-size: 18px;
                font-weight: 600;
                margin-right: 20px
            }
        }
    }
}