/* custom-btn
========================== */ 
.custom-btn{
    border:none;
    border-radius: 9px;
    width: 110px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    color: $white;
    cursor: pointer;
    background-color: $blue;
     @include transition(0.3s)
}