
/* image-ratio
============================ */
.image-ratio{
    position: relative;
    overflow: hidden;
    max-width: 300px;
    .ratio{
        padding-top: 100%;
    }
    .ratio-inner{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: 100%;
        img{
            width: 100%;
            min-height: 100%;
        }
    }
}