/*section-title
=============================== */
.section-title{
    margin-top: 85px;
    margin-bottom: 40px;
    h2{
        font-weight: 600;
        font-size: 30px;
        color: $black;
        display: inline-block;
        margin-bottom: 0;
    }
    
    button,a{
        border: 1px solid $darkGray;
        background-color: $whiteGray;
        width: 192px;
        height: 55px;
        cursor: pointer;
        border-radius: 15px;
        display: inline-block;
        line-height: 48px;
        text-align: center;
        img{
            display: inline-block;
            margin-left: 15px;
        }
    }
    button{
        line-height: 0
    }
}