  
  /* sweet alert
===========*/
.swal-title{
    color: $blue
}
.swal-text {
    text-align: center
}
.swal-button {
    border:none;
    border-radius: 9px;
    width: 110px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    color: $white;
    margin-top: 60px;
    cursor: pointer;
     @include transition(0.3s)
}
.swal-button.swal-button--confirm:not([disabled]):hover,
.swal-button.swal-button--confirm {
    opacity: 0.9;
    box-shadow: 0 0 30px 2px rgba(0,0,0,.2);
    color: $white;
    background: $blue;
}
.swal-button--cancel:focus,
.swal-button--cancel:hover{
     box-shadow: 0 0 30px 2px rgba(0,0,0,.2);
}
.swal-button--cancel {
    color: $blue
}
.swal-icon--success__ring{
    border: 4px solid hsla(208, 55%, 69%, 0.2);
}
.swal-icon--warning{
    border-color: $blue !important;
    -webkit-animation: none; 
     animation:none; 
}
.swal-icon--warning__body, .swal-icon--warning__dot,
.swal-icon--success__line{
    background-color: $blue;
}
