/* timeStone
============================*/ 
.sliderTime{
    position: relative;
}
.timeStone{
    // white-space: nowrap;
    // overflow-x: scroll;
    a{
        display: inline-block;
        width: 200px;
        height: 55px;
        border-radius: 15px;
        text-align: center;
        line-height: 55px;
        font-size: 18px;
        border:1px solid $blue;
        margin: 0 10px 45px;
        &.active{
            background-color: $blue;
            color: $white
        }
    }
}
