
/* form-group
=============================== */
.form-group{
    margin-bottom: 50px;
    label{
        color: $darkGray;
        margin-bottom: 10px;
    }
    .form-control{
        border:1px solid $darkGray;
        height: 55px;
        border-radius: 9px;
        &:focus{
            box-shadow: none;
            border-color: $blue
        }
    }
}



