/* modal 
=======================*/ 
.modal-body{
    padding: 60px 65px;
    h3{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 60px;
    }
}
.modal-xl{
    @media (min-width: 1200px){
       max-width: 1100px;
    }
    @media (max-width: 1199px){
        max-width: 1100px;
        width: 95%;
     }
    .custom-btn{
        margin-top: 20px;
    }
}
