
/* about
======================*/ 
.about{
    .logo{
        margin-top: 100px;
        img{
            height: 100px;
        }
    }
    p{
        color: $darkGray;
        font-size: 25px;
        line-height: 45px;
        margin-top: 125px;
    }
    a{
        display: block;
        color: $black;
        font-size: 18px;
        margin-top: 100px;
        letter-spacing: 10px;
        padding-bottom: 50px
    }
    @media (max-width:991px) {
        .logo{
            margin-top: 50px;
        }
        p{
            font-size: 20px;
            margin-top: 50px;
        }
        a{
            font-size: 15px;
        }
    }
}
