/* adduser
======================*/ 
.adduser{
    form{
        margin-top: 70px;
        h3{
            color: $black;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 45px;
        }
    }
    .uplaod-img{
        cursor: pointer;
        input{
            display: none;
        }
        img{
            max-width: 300px;
            max-height: 300px;
            border-radius: 50%;
            background-color: #FFF;
            object-fit: contain;
        }
    }
}